@import "tailwindcss";

html{
    scroll-behavior: smooth;
}

  




html, body {
   overflow-x: hidden;
   box-sizing: border-box;
 }
  
 body::-webkit-scrollbar{
  display: none;
 }


 @keyframes gradientMove {
    0% { background-position: 0%; }
    100% { background-position: 400%; }
  }
  .hover\:animate-gradientMove:hover {
    animation: gradientMove 10s linear infinite;
  }


  .box{
     box-shadow: 0 0 20px red,0 0 20px blue;
  }

